.input-phone{
    border: none!important;
}
.button-phone{
    background: transparent!important;
    border: none!important;
}
.firstline-input-container{
    display: flex;
    align-items: center;
}