.low-color{
    opacity: .3;
}
a{
    text-decoration: none;
    color: var(--blue);
}
.app{
    display: grid;
    grid-template-columns: 35% 65%;
    height: 100vh;
    font-family: 'Montserrat','Montserrat Alternates', sans-serif;
}
/*Main*/

main{
    padding: 2rem 5rem 1rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-navigation__text{
    display: flex;
    align-items: center;
    gap: 5px;
}
.main-body{
    display: flex;

}